<div class="container d-print-none">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Historial de la visita</h3>
    </div>
    <div class="panel-body">
      <p><strong>Visita de </strong></p>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Hora de ingreso</th>
            <th>Visitó a</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>22/04/2020</td>
            <td>08:43 a. m.</td>
            <td>Romina Galerna</td>
          </tr>
          <tr>
            <td>2</td>
            <td>20/07/2020</td>
            <td>08:03 a. m.</td>
            <td>Horacio Rodriguez Larreta</td>
          </tr>
          <tr>
            <td>3</td>
            <td>20/07/2020</td>
            <td>08:03 a. m.</td>
            <td>Romina Galerna</td>
          </tr>
          <tr>
            <td>4</td>
            <td>20/07/2020</td>
            <td>07:42 a.m.</td>
            <td>Ramon Díaz</td>
          </tr>
          <tr>
            <td>5</td>
            <td>19/07/2020</td>
            <td>07:32 p. m.</td>
            <td>Lorena Startone</td>
          </tr>
          <tr>
            <td>6</td>
            <td>19/07/2019</td>
            <td>06:07 p. m.</td>
            <td>Lautaro Stampante</td>
          </tr>
          <tr>
            <td>7</td>
            <td>20/07/2019</td>
            <td>07:04 a. m.</td>
            <td>Stella Brancamonte</td>
          </tr>
          <tr>
            <td>8</td>
            <td>20/07/2019</td>
            <td>07:57 a. m.</td>
            <td>Leticia Montiel</td>
          </tr>
          <tr>
            <td>9</td>
            <td>19/07/2019</td>
            <td>07:32 p. m.</td>
            <td>Sabrina Nuñez</td>
          </tr>
          <tr>
            <td>10</td>
            <td>19/07/2020</td>
            <td>06:40 p. m.</td>
            <td>Ezequiel Startone</td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-12 text-right">
          <ul class="pagination">
            <li class="disabled">
              <a href="#" class="glyphicon glyphicon-chevron-left"></a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" class="glyphicon glyphicon-chevron-right"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
